

:root {
	/* 0°, 16%, 83% */
	

	/* --dashboard-sidebar-bg: hsl(0, 16%, 80%); */
	--dashboard-sidebar-tc: var(--notion-light-sidebar-tc);
	--dashboard-sidebar-bg: var(--notion-light-sidebar-bg);

	--dashboard-sidebar-tc-darker: rgba(20, 20, 15, 0.8);

	--dashboard-sidebar-divider-color: hsl(0, 0%, 80%);
	--dashboard-sidebar-button-hover: hsl(0, 0%, 80%);
	--dashboard-sidebar-button-active: hsl(0, 0%, 60%);
	--dashboard-sidebar-button-hover2: hsl(5, 10%, 85%);
	--dashboard-sidebar-button-active2: hsl(0, 5%, 75%);

	--dashboard-content-bg: hsl(0, 0%, 100%);

	--dashboard-sidebar-maxWidth: 500px;
	--dashboard-sidebar-minWidth: 200px;
	--dashboard-sidebar-width: 250px;
	--dashboard-sidebar-defaultWidth: 250px;
	--dashboard-sidebar-dragger-width: 5px;
	
	--dashboard-sidebar-account-dialogue-height: 3rem;
	--dashboard-sidebar-account-dialogue-height-px: calc(0px + var(--dashboard-sidebar-account-dialogue-height));
	

	--dashboard-sidebar-pagebutton-height: 1.25rem;
	
}

section[name="dashboard"] {
	width: 100vw;
	height: 100vh;
	/* background-color: red; */
}
div[name="dashboard_row"] {
	width: 100%;
	height: 100%;
	background-color: grey;
	position: relative;
	display: flex;
}
div[name="dashboard_row_sidebar"] {
	width: var(--dashboard-sidebar-width);

}
div[name="dashboard_row_content"] {
	width: calc(100% - var(--dashboard-sidebar-width));

}
/* @media only screen and (min-width: 600px) {
	div[name="dashboard_row_sidebar"] {
		width: 
	}
}
@media only screen and (min-width: 992px) {
	div[name="dashboard_row_content"] {

	}
} */
#dashboard_sidebar {
	/* width: 100%; */
	width: var(--dashboard-sidebar-width);
	height: 100vh;
	background-color: var(--dashboard-sidebar-bg);
	/* color: var(--dashboard-sidebar-tc-darker); */


	position: absolute;
	padding-right: var(--dashboard-sidebar-dragger-width);
	left: 0;

	user-select: none;

}
#dashboard_sidebar_dragger {
	width: var(--dashboard-sidebar-dragger-width);
	height: 100%;
	background-color: rgba(0,0,0, 0);
	position: absolute;
	top: 0;
	right: 0;
	cursor: ew-resize;
	z-index: 1;

	transition: background 0.3s;
}
#dashboard_sidebar_dragger:hover , #dashboard_sidebar_dragger:focus-within {
	background-color: var(--dashboard-sidebar-button-hover);
}
/* #dashboard_sidebar::after {
	content: "";
	background-color: lawngreen;
	position: absolute;
	right: 0;
	top: 0;
	width: var(--dashboard-sidebar-dragger-width);
	height: 100%;
	cursor: ew-resize;
	z-index: 1;
} */

#dashboard_sidebar > div[name="centered"] {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

}
#dashboard_sidebar > div[name="centered"] > ul.list-group {
	width: 100%;
}
#dashboard_sidebar > div[name="centered"] > ul.list-group .list-group-item {
	min-height: 2rem;
	/* border-radius: 1rem 0 0 1rem; */
	border-radius: 0;
	border-right: 0;
	display: grid;
	place-items: center;

	background-color: var(--dashboard-sidebar-bg);
	color: var(--dashboard-sidebar-tc);
	transition: 0.2s;
}
#dashboard_sidebar > div[name="centered"] > ul.list-group .list-group-item:hover , #dashboard_sidebar > div[name="centered"] > ul.list-group .list-group-item:focus-within {
	background-color: var(--bs-light);
	color: var(--bs-dark);
}

#dashboard_sidebar > div[name="account-dialogue-button"] {
	height: var(--dashboard-sidebar-account-dialogue-height);
	/* background-color:hsl(0, 0%, 70%); */
	background-color: var(--dashboard-sidebar-bg);
	display: flex;
	justify-content: left;
	/* align-items: center; */

	width: var(--dashboard-sidebar-width);
	/* position: relative; */
}
#dashboard_sidebar > div[name="account-dialogue-button"]:hover , #dashboard_sidebar > div[name="account-dialogue-button"]:focus-within {
	background-color: hsl(5, 10%, 85%);
	cursor: pointer;
}
#dashboard_sidebar > div[name="account-dialogue-button"]:hover:active {
	background-color: hsl(0, 5%, 75%);
}
#dashboard_sidebar > div[name="account-dialogue-button"] > div[name="container-left"] {
	padding: 2rem;
	/* background-color: red; */
	height: 100%;
	width: calc(100% - var(--dashboard-sidebar-account-dialogue-height));
	/* display: flex;
	justify-content: space-around;
	align-items: center; */

	display: block;


	position: relative;
}
#dashboard_sidebar > div[name="account-dialogue-button"] > div[name="container-left"] > div {
	/* background-color: lightgreen; */
	/* position: absolute;
	top: 50%;
	transform: translateY(-50%); */
	display: inline-block;
	position: relative;
	/* position: absolute; */
}
#dashboard_sidebar > div[name="account-dialogue-button"] > div[name="container-left"] > div[name="icon"] {
	padding-left: 1rem;
	width: 1rem;
	height: 1rem;
	/* background-color: wheat; */
	background-color: hsl(0, 0%, 70%);

	border-radius: 2px;
}
#dashboard_sidebar > div[name="account-dialogue-button"] > div[name="container-left"] div[name="icon-text"] {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: red; */
	position: relative;
	padding: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2px;
	font-weight: 650;
	color: var(--dashboard-sidebar-bg);
}

#dashboard_sidebar > div[name="account-dialogue-button"] > div[name="container-left"] div[name="displayname"] {
	width: 100%;
	height: 100%;
	font-weight: 550;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	color: var(--dashboard-sidebar-tc-darker);
	font-size: 1.05rem;
}

#dashboard_sidebar > div[name="account-dialogue-button"] > div[name="container-right"] {
	width: var(--dashboard-sidebar-account-dialogue-height);
	height: 100%;
	/* background-color: lightcoral; */
	/* position: relative; */
}


#dashboard_sidebar > div[name="account-dialogue-button"] > div[name="container-right"] > div[name="toggle-button"] {
	width: 100%;
	height: 100%;
	/* background-color: cyan; */
}

#dashboard_sidebar > div[name="account-dialogue-button"] div[name="toggle-button-padded"] {
	width: 60%;
	height: 60%;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	position: relative;

	color: var(--dashboard-sidebar-tc);

}


#dashboard_sidebar > div[name="account-dialogue-button"] div[name="toggle-button-padded"]:hover {
	/* background-color: var(--dashboard-sidebar-button-hover); */
	background-color: hsl(5, 10%, 80%);
	border-radius: 2px;
	cursor: pointer;
	color: black;
}
#dashboard_sidebar > div[name="account-dialogue-button"] div[name="toggle-button-padded"]:hover:active {
	background-color: hsl(5, 5%, 70%);
	border-radius: 100%;
}

#dashboard_sidebar > div[name="account-dialogue-button"] div[name="toggle-button-icon"] {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	/* color: green; */
	position: relative;

	color: inherit;

	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}



#dashboard_sidebar > div[name="utility-buttons"] {
	/* background-color: red; */
}
#dashboard_sidebar > div[name="utility-buttons"] li.divider {
	width: 100%;
	height: 1px;
	/* margin-top: 1rem !important; */
	/* margin-bottom: 1rem !important; */
	margin: 0.25rem 0 !important;
	background-color: var(--dashboard-sidebar-divider-color);
}
#dashboard_sidebar > div[name="utility-buttons"] li.divider.not-shown {
	opacity: 0;
}
#dashboard_sidebar > div[name="utility-buttons"] > li.utility-button {
	width: 100%;
	height: 2rem;
	padding: 0.15rem 1rem !important;
	background-color: var(--dashboard-sidebar-bg);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* vertical-align: sub; */
	font-weight: 600;
	color: var(--dashboard-sidebar-tc-darker);
}
#dashboard_sidebar > div[name="utility-buttons"] > li.utility-button:hover {
	background-color: var(--dashboard-sidebar-button-hover2);
}
#dashboard_sidebar > div[name="utility-buttons"] > li.utility-button:hover:active {
	
	
	background-color: var(--dashboard-sidebar-button-active2);
}
#dashboard_sidebar > div[name="utility-buttons"] > li.utility-button *[name="icon"] {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	width: 24px;
	padding-right: 1rem;
	/* width: 50%; */
	/* height: 50%; */
	/* width: auto; */
}
#dashboard_sidebar > div[name="utility-buttons"] > li.utility-button *[name="icon"] * {
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
#dashboard_sidebar > div[name="utility-buttons"] > li.utility-button *[name="text"] {
	padding-left: 0.5rem !important;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#dashboard_sidebar .pagebutton {
	height: var(--dashboard-sidebar-pagebutton-height);
}






#dashboard_content {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: var(--dashboard-content-bg);

	/* background-color: wheat; */
}

#dashboard_content > div[name="nothinghere"] {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	z-index: 1;

	/* background-color: tomato; */
}
#dashboard_content > div[name="nothinghere"] > div[name="centered"] {
	width: max-content;
	height: calc(25% + 100px);
	
	display: flex;
	justify-content:space-around;
	align-items: center;
	flex-direction: column;
	
}
#dashboard_content > div[name="nothinghere"] > div[name="centered"] > img[name="thinkingEmoji"] {
	width: clamp(50px, 80%, 200px);
	height: clamp(50px, 80%, 200px);

	filter: drop-shadow(0.5rem 0.5rem 0.75rem var(--bs-gray));
}
#dashboard_content > div[name="nothinghere"] > div[name="centered"] > h3 {
	text-align: center;
	max-width: 40rem;
}
#dashboard_content > div[name="nothinghere"] > div[name="centered"] > h4 {
	text-align: center;
	max-width: 40rem;
}

#dashboard_content > div[name="float-help"] {
	/* width: 100%; */
	/* height: 100%; */
	/* display: block; */
	/* position: fixed; */

	z-index: 3;
}
#dashboard_content > div[name="float-help"] > div[name="button-container"] {
	z-index: 3;

	position: fixed;
	right: 3rem;
	bottom: 3rem;
}
#dashboard_content > div[name="float-help"] > div[name="button-container"] > button#dashboard_help_help-button {
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
	/* border: 2px solid var(--bs-gray); */
	background-color: var(--bs-white);
	box-shadow: 0 0 0.125rem var(--bs-gray);
	/* position: fixed; */
	opacity: 1;

	pointer-events: auto;
}
#dashboard_content > div[name="float-help"] > div[name="button-container"] > button#dashboard_help_help-button:hover, #dashboard_content > div[name="float-help"] > div[name="button-container"]:hover > #dashboard_content > div[name="float-help"] > div[name="button-container"] > button#dashboard_help_help-button {
	background-color: hsl(0, 0%, 95%);
	box-shadow: 0.125rem 0.125rem 0.25rem var(--bs-gray);
}
/* #dashboard_content > div[name="float-help"] > div[name="button-container"] > button#dashboard_help_help-button:focus-within {
	background-color: hsl(0, 0%, 70%);
	display: block;
} */
#dashboard_content > div[name="float-help"] > div[name="button-container"] > button#dashboard_help_help-button:active {
	background-color: hsl(0, 0%, 70%);
	display: block;
}
#dashboard_content > div[name="float-help"] > div[name="button-container"] > button#dashboard_help_help-button > img[name="questionMark"] {
	width: 75%;
	height: 75%;
	/* position: relative; */
}

#dashboard_content>div[name="float-help"]>div[name="button-container"]:hover + #dashboard_content>div[name="help-menu"] , #dashboard_content>div[name="help-menu"]:focus-within {
	display: block;
}
#dashboard_content div[name="help-menu"] {
	display: none;
	position: fixed;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	/* gap: 40px; */
	opacity: 0;

	background-color: hsl(0, 0%, 99%);

	bottom: 7rem;
	right: 3rem;

	width: 200px;
	/* height: 300px; */
	min-height: max-content;
	box-shadow: 0 0 0.25rem var(--bs-gray);

	z-index: 4;
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;

	border-radius: 0.5rem;

	transition: opacity 3s;
}
#dashboard_content div[name="help-menu"] * {
	background-color: inherit;
	z-index: 5;
}
#dashboard_content div[name="help-menu"] ul {
	width: 100%;
}
#dashboard_content div[name="help-menu"] li {
	list-style-type: none;
	width: 100%;
}

#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	/* gap: 100px; */
	gap: 7px;
	
	
}
#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.divider {
	width: 100%;
	height: 1px;
	background-color: hsl(0, 0%, 80%);
	/* border: 0.5px solid hsl(0, 0%, 80%); */
}
#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist {
	/* display: inline-block; */
	padding: 0rem 0 !important;
}
#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist > ul {

}


#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist > ul * {
	padding: 0rem 1rem !important;
	border: 0;
	transition: background 0.3s;
	height: 2rem;
	font-size: 1.04rem;
	font-weight: 500;
	display: inline-block;
	vertical-align: sub;
}
#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist > ul.text-muted {
	font-size: 0.25rem !important;
}
#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist > ul *.text-muted {
	font-size: 0.75rem !important;
	height: max-content !important;
}
#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist > ul *.text-muted * {
	font-size: inherit !important;
	height: 100% !important;
	line-height: inherit !important;
	vertical-align: top !important;
}

#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist > ul * span {
	padding: 0 !important;
}
#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist > ul * span[name="label"] {
	padding-left: 0.25rem !important;
}
#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist > ul div.material-icons {
	width: 24px;
	height: max-content;
	
	padding: 0 !important;
	display: inline;

	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist > ul div.material-icons span.material-icons-outlined {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	padding: 0 !important;
	/* width: 3rem; */
	/* height: 3rem; */
	width: 24px;
}
#dashboard_content div[name="help-menu"] > ul[name="help-menu-list"] li.sublist > ul *.hover-darken:hover {
	background-color: hsl(0, 0%, 90%);
}



