* {
	padding: 0!important;
	margin: 0!important;
	box-sizing: border-box!important;
}

html, body {
	width: 100vw;
	height: 100vh;
	background-color: white;

	min-width: 200px;

	font-size: 14px;
}



:root {
	--bgcanv_cornerconfig_inactive: hsla(212, 73%, 20%, 0.50);
	--bgcanv_cornerconfig_active: hsl(212, 73%, 20%);
}


/* Default display values, show Sign-In first */
section[name="signin"] {
	display: block;
}
section[name="dashboard"] {
	display: none;
}






